.body{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:bisque;

}
.calculator{
  height: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(180, 173, 173, 0.493);
  width: 200px;
  border-radius: 5px;
  /* From https://css.glass */
background: rgba(168, 232, 226, 0.719);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(104, 211, 202, 0.85);

box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
}
